.App{
  display: flexbox;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: blue;
  background-image: url('./img/backgroundimg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.App > h1{
  display: block;
  font-size: 50px;
}